<li class='nav-item'><%= link_to 'SMS', sms_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Voice', voice_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Number Insights', insights_path, class: 'nav-link' %></li>